<div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Tell us what you like to donate
                <span class="right">
                    <a class="btn-floating green"><i class="material-icons">add</i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            You have not saved anything here.
        </div>
    </div>
    <div class="center-align">
        <p>Hi User, we value healthy people like you who likes to donate what they own.</p>
    </div>
</div>
